.header{
    background-color: rgb(149, 147, 147,0.7);
    padding-top: 5px;
    padding-bottom: 5px;  
    font-family: 'Dancing Script', cursive; 
}
body{
    text-align: center;
    background-image: url("https://i.pinimg.com/736x/cc/fc/2d/ccfc2df0c479ee653eba8e96128c2f76.jpg");
    background-size: 100%;
    background: cover;    
}
.footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgb(149, 147, 147,0.7);
    padding: 4px;
}
canvas{
    border: 2px solid black;
    box-shadow: 3px 3px 9px rgb(85, 84, 84);
}